/* Footer
--------------------------------------------------------------------------------------------------------------------- */

.footer {
  width: 75%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;

  &__text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: $montserrat;
    color: $white;
    line-height: 1;
  }
}
