/* Generic
--------------------------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  border: 15px solid $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $montserrat;
}

.mg-0 {
  margin: 0;
}

/* Responsive
--------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 480px) {
  .body {
    border: 0 none;
  }
}
