/* Footer
--------------------------------------------------------------------------------------------------------------------- */

.header {
  width: 75%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 10px;

  &__text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: $montserrat;
    color: $white;
    line-height: 1;
  }
}
