/* Main
--------------------------------------------------------------------------------------------------------------------- */

.body {
  min-height: 768px;
  background-color: $dark-grey;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    z-index: -1;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    width: 50%;
    max-width: 480px;
    min-width: 480px;
  }

  .content-header {
    background: $primary;
    width: 100%;
    padding: 20px 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    &--success {
      background: $success;
    }

    &--error {
      background: $danger;
    }

    &__title,
    &__subtitle {
      width: 100%;
      margin: 0;
      padding: 0;
      color: $white;
    }

    &__title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .content-form {
    background: $white;
    width: 100%;
    padding: 20px 40px;
  }

  .content-footer {
    background: $primary;
    width: 100%;
    min-height: 50px;
    padding: 20px 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &--success {
      background: $success-hover;
    }

    &--error {
      background: $danger-hover;
    }

    &__text {
      width: 100%;
      margin: 0;
      padding: 0;
      color: $white;
      font-size: 10px;
      font-weight: 600;
    }
  }
}

/* Responsive
--------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .body {
    min-height: 860px;
  }
}

@media (max-width: 600px) {
  .body {
    min-height: 825px;
  }

  .main {
    .content {
      width: 100%;
      max-width: inherit;
      min-width: inherit;
    }
  }
}

@media (max-width: 480px) {
  .body {
    min-height: 575px;
  }

  .hidden-custom {
    display: none;
  }

  .main {
    padding: 0;

    .content {
      height: 100%;
    }

    .content-form {
      height: calc(100% - 116px);
    }

    .content-header,
    .content-form,
    .content-footer {
      border-radius: 0;
      padding: 15px;
    }
  }
}

@media (max-width: 425px) {
  .main {
    .content-header {
      &__title {
        font-size: 14px;
        font-weight: 600;
      }

      &__subtitle {
        font-size: 10px;
        font-weight: 400;
      }
    }

    .content-form,
    .content-form .btn {
      font-size: 12px;
    }

    .content-footer {
      &__text {
        font-size: 10px;
      }
    }
  }
}
