<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" class="no-js ie6" lang="es-ES" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="no-js ie7" lang="es-ES" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="no-js ie8" lang="es-ES" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="es-ES" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <!-- Assets -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>Solicita tu cita previa | OnHealth</title>
    <!-- Information -->
    <meta name="author" content="@jjpeleato">
    <meta name="keywords" content="cita primaria, cita previa, cita especialista, pedir cita, pida cita">
    <meta name="description" content="Pida cita a su especialista de forma fácil y rápida.">
    <!-- SocialMedia -->
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Solicita tu cita previa | OnHealth">
    <meta property="og:description" content="Pida cita a su especialista de forma fácil y rápida.">
    <meta property="og:url" content="https://onhealth-api.alphamega.es/">
    <meta property="og:site_name" content="Solicita tu cita previa | OnHealth">
    <meta property="og:image" content="/assets/img/onhealth_logo.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Pida cita a su especialista de forma fácil y rápida.">
    <meta name="twitter:title" content="Solicita tu cita previa | OnHealth">
    <meta name="twitter:site" content="https://onhealth-api.alphamega.es/">
    <meta name="twitter:image" content="/assets/img/onhealth_logo.png">
    <meta name="twitter:creator" content="@jjpeleato">
    <!-- Icons: .png -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Assets CSS -->
    <link type="text/css" href="{{ (environment in 'prod') ? '/assets/css/style.min.css' : '/assets/css/style.css' }}" rel="stylesheet">
</head>
<body class="body" oncontextmenu="return true" onkeydown="return true">
<!--[if lt IE 9]>
<p class="browsehappy">Estás usando un navegador <strong>anticuado</strong>. Por favor, <a href="http://browsehappy.com/">actualiza tu navegador</a> por el bien de todos.</p>
<![endif]-->
<!-- START: noscript -->
<noscript>
    <p>The page you are viewing requires JavaScript to work. If you have intentionally disabled it, please enable it again.</p>
    <p>La página que estás viendo requiere para su correcto funcionamiento el uso de JavaScript. Si lo has deshabilitado intencionadamente, por favor vuelve a activarlo.</p>
</noscript>
<!-- END: noscript -->

<!-- START: footer -->
<header class="header hidden-custom">
    <p class="header__text">OnHealth</p>
</header>
<!-- END: footer -->

<!-- START: main -->
<main class="main container-fluid">
    <div class="content" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="750" data-aos-offset="0">
        <div class="content-header">
            <h1 class="content-header__title">Solicita tu cita previa</h1>
            <p class="content-header__subtitle">Pida cita a su especialista de forma fácil y rápida</p>
        </div>
        <div class="content-form">
            <form id="formAppoitment" method="post" action="appointment">
                <div class="form-group">
                    <label for="inputMembership">Nº socio:</label>
                    <input class="form-control" id="inputMembership" name="inputMembership">
                    <small class="form-text text-muted">Escriba aquí su número de socio para solicitar la cita.</small>
                </div>
                <div class="form-group">
                    <label for="inputDate">Fecha:</label>
                    <input class="form-control datepicker" id="inputDate" name="inputDate" placeholder="{{ "now" | date("d/m/Y") }}">
                    <small class="form-text text-muted">Elija que día le gustaría venir. Recuerde que no está permitido pedir cita para hoy o fines de semana.</small>
                </div>
                <div class="form-group">
                    <label for="inputTime">Hora:</label>
                    <input class="form-control timepicker" id="inputTime" name="inputTime" placeholder="{{ "now" | date("H:30") }}">
                    <small class="form-text text-muted">Y por último, indiquemos a que hora le iría bien. La cita solo se puede pedir para horas en punto o medias horas.</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="inputPrivacy" name="inputPrivacy">
                    <label class="form-check-label">He leído y acepto la <a href="#" title="Política de privacidad">política de privacidad</a>.</label>
                </div>
                <div class="form-group text-right mg-0">
                    <input class="form-control" id="inputKey" name="inputKey" type="hidden" value="{{ app_key }}">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="/" title="Refrescar" class="btn btn-primary">Refrescar</a>
                </div>
            </form>
        </div>
        <div class="content-footer"></div>
    </div>
</main>
<!-- END: main -->

<!-- START: footer -->
<footer class="footer hidden-custom">
    <p class="footer__text">"Una de las cosas más difíciles no es cambiar la sociedad - sino cambiarse a uno mismo", Nelson Mandela</p>
</footer>
<!-- END: footer -->

<!-- Assets JS -->
<script src="{{ (environment in 'prod') ? '/assets/js/script.min.js' : '/assets/js/script.js' }}"></script>
</body>
</html>
